In [1]:
import mysql.connector as connector

In [31]:
from mysql.connector import Error

In [40]:
connection = connector.connect(user = "admin", password = "1234567890!", db = "LittleLemonDM")

In [41]:
cursor = connection.cursor()

In [42]:
cursor.execute("SHOW tables" )

In [43]:
results = cursor.fetchall()

In [45]:
print(results)

[('Booking',), ('Customer',), ('Menu',), ('Menuitems',), ('Order_delivery_status',), ('Orders',), ('Staff',), ('TableBookings',)]

In [71]:
query_with_join = """SELECT Orders.TotalCost, Customer.FullName, Customer.Contact FROM Orders 
INNER JOIN Customer ON Orders.CustomerID = Customer.CustomerID WHERE Orders.TotalCost > 60;"""

In [72]:
cursor.execute(query_with_join )
results = cursor.fetchall()
columns=cursor.column_names
for result in results:
    print(results)

[(Decimal('10'), 'Mario Gollini', '724, Parsley Lane, Old Town, Chicago, IL'), (Decimal('10'), 'Adrian Gollini', '334, Dill Square, Lincoln Park, Chicago, IL'), (Decimal('10'), 'Mario Gollini', '724, Parsley Lane, Old Town, Chicago, IL')]
[(Decimal('10'), 'Mario Gollini', '724, Parsley Lane, Old Town, Chicago, IL'), (Decimal('10'), 'Adrian Gollini', '334, Dill Square, Lincoln Park, Chicago, IL'), (Decimal('10'), 'Mario Gollini', '724, Parsley Lane, Old Town, Chicago, IL')]
[(Decimal('10'), 'Mario Gollini', '724, Parsley Lane, Old Town, Chicago, IL'), (Decimal('10'), 'Adrian Gollini', '334, Dill Square, Lincoln Park, Chicago, IL'), (Decimal('10'), 'Mario Gollini', '724, Parsley Lane, Old Town, Chicago, IL')]